body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  // font-family: "Times New Roman", Times, serif;
  background-color: #F5F7FB;

}


.header{
  width:fit-content;
  height: fit-content;

  align-items: center;

}
.start-quiz{

  height: 50px;
  width: 140px;
  background-color: #4D5B9E;
  border-radius: 10px;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  &:hover{
    background-color: #34459c;
    transition: 0.2s;
    cursor: pointer;

  }
  
}

.options{



}

.optionsElement_ul{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; 
 
}

.option{
  
  text-align: left;

   list-style-type: none;
   color: #293264;
   margin-right: 0.5cm;
   border: 1px solid #4D5B9E;
   padding: 0.5rem;
   border-radius: 10px;
   &:hover{
    background-color: #D6DBF5;
    transition: 0.4s;
    // border: none;
    cursor: pointer;

   }
}


.option_selected{
  
  text-align: left;

   list-style-type: none;
   color: #293264;
   background-color: #c6cef7;
   margin-right: 0.5cm;
   border: 1px solid #4D5B9E;
   padding: 0.5rem;
   border-radius: 10px;
   &:hover{

    cursor: pointer;

   }
}

.right_answer{

    
   text-align: left;

   list-style-type: none;
   color: #293264;
   background-color: #94D7A2;
   margin-right: 0.5cm;
   border: 1px solid #4D5B9E;
   padding: 0.5rem;
   border-radius: 10px;
   &:hover{
    pointer-events: none;

    cursor: pointer;

   }

}

.wrong_answer{
     
  text-align: left;

  list-style-type: none;
  color: #293264;
  background-color: #F8BCBC;
  margin-right: 0.5cm;
  border: 1px solid #4D5B9E;
  padding: 0.5rem;
  border-radius: 10px;
  &:hover{
    pointer-events: none;

   cursor: pointer;

  }

}

.optionsShowAnswer{
  text-align: left;

  list-style-type: none;
  color: #293264;
  margin-right: 0.5cm;
  border: 1px solid #4D5B9E;
  padding: 0.5rem;
  border-radius: 10px;
  &:hover{
  pointer-events: none;
   cursor: pointer;

  }

}


.questions{
  color: #293264;
}

.submit_btn{
  
  height: 50px;
  width: 140px;
  background-color: #4D5B9E;
  border-radius: 10px;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  &:hover{
    background-color: #34459c;
    transition: 0.2s;
    cursor: pointer;
  }
}
